/* nav{
    height:5vh
} */

.navbar{
    color:white;
    min-height: 5vh;
}

@media only screen and (max-width: 768px) {
    .navbar {
        min-height: 7vh;
        align-items: center;
        
        flex-direction: column;
    }
}